server:
  port: 8080
  servlet:
    context-path: /api/v1/user

spring:
  application:
    name: user-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0   # 100% for demo; lower in prod
    otlp:
      tracing:
        endpoint: http://tempo.tracing.svc.cluster.local:4318
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

logging:
  pattern:
    level: "%5p [traceId=%X{trace_id:-}, spanId=%X{span_id:-}]"


